{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="{% static 'css/addmedicine.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  </head>
  <body>

    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <button><a href="{% url 'home' %}"><h3>Get Your <span> Dose</span></h3>
      </a></button>
      </div>
      <div class="right_area">
        <a href="{% url 'logout' %}" class="logout_btn">Logout</a>
      </div>
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <!--<img src="1.png" class="mobile_profile_image" alt="">-->
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
          {% if user.is_authenticated %}
        <a href="#"><i class="fas fa-cogs"></i><span>Directions of use</span></a>
        <a href="{% url 'addmedicine' %}"><i class="fas fa-table"></i><span>Add Medicine</span></a>
        <a href="{% url 'medicinelist' %}"><i class="fas fa-th"></i><span>Your Medicine List</span></a>
        <a href="#"><i class="fas fa-desktop"></i><span>Profile</span></a>
        <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
        <a href="#"><i class="fas fa-info-circle"></i><span>Directions of use</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Contact</span></a>
        
         {% else %}
 <h1 class="heading">Please Login/SignUp</h1>
<a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
<a class="nav-link" href="{% url 'login' %}">Login</a>
{% endif %}
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <!--<img src="1.png" class="profile_image" alt="">-->
        <h4>Welcome, {{ user.get_username }}</h4>
      </div>
      <a href="{% url 'addmedicine' %}"><i class="fas fa-table"></i><span>Add Medicine</span></a>
      <a href="{% url 'medicinelist' %}"><i class="fas fa-th"></i><span>Your Medicine List</span></a>
      <a href="{% url 'profile' %}"><i class="fas fa-sliders-h"></i><span>Profile</span></a>
      
     
    </div>
    <!--sidebar end-->

<br/>
<br/>
<br/>
<br/>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" >
<br/>
<div class="form">
<h2>Add Medicines Here..</h2>
<form method="POST" action="{% url 'addmedicine' %}">
{% csrf_token %}
<br/>
<p>
<label>
Category:
<select name="ts">
<option value="" selected="selected" >choose</option>
<option value="tablet" >Tablet</option>
<option value="syrup" >Syrup</option>
</select>
</label> 
</p>
Med Name:
<br />
<input type="text" name="medname" />
<br/>
<br/>
<p>
Duration in days:
<br />
<input type="textbox" name="duration" />
<br />
<br/>
<p>
  <label>Number of Tablets used per day:
<select name="times">
<option value="" selected="selected" >choose</option>
<option value="1" >1</option>
<option value="2" >2</option>
<option value="3" >3</option>
<option value="4" >4</option>
<option value="5" >5</option>
</select>
</label> 
    
    <!-- <input type="number" name="times"  min="1" max="5" required> -->
 
</p>
<br/>
<p>
<label>Start date&time:
<input type="datetime-local" name="start_time" required>
</label>
</p>
<br/>
<label>
Course:
<select name="cdd">
<option value="" selected="selected" >choose</option>
<option value="Daily" >Daily</option>
<option value="Alternate days" >Alternate days</option>
<option value="Weekly Once" >Weekly Once</option>
<option value="Weekly Twice" >Weekly Twice</option>
</select>
</label> 
</p>
<br />


<input class="btn btn-primary" type="submit" value="Add Medicine"/>


</form>
</div>
</main>

 <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
    </script>
 
 

  </body>
</html>

{% endblock %}